<div class="order-boxes">

    <div class="wrapper top">
        <h2>Select Your Budget</h2>
        <p>We'll match the total value of the items in your Order Preview with the Budget you select here. <br>On the next step, you can select the types of clothing you're looking for.<br><small><strong>(You'll only ever be charged for the items you decide to have shipped)</strong></small></p>
    </div>

    <div class="step">
        <div class="boxes">
            <ul class="clear">
                <li class="span4 index-{{ $index }}" ng-repeat="box in $ctrl.boxes.list" ng-click="$ctrl.goToNextStep(box)">
                    
                    <div class="order-box" ng-class="{ 'best-seller': box.bestSeller }">
                        <div class="photo">
                            <img ng-src="{{ assetUrl + box.imagePath }}">
                        </div>

                        <div class="info">
                            <h3 class="title">{{ box.title }}</h3>
                            
                            <button class="button" ng-class="{ 'button-orange': box.bestSeller, 'button-darkgray': !box.bestSeller }"><span>Select</span></button>

                            <div ng-if="box.bestSeller" class="cert">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>Best Seller</span>
                            </div>

                            <p class="price">{{ box.price | currency: '$' }}</p>

                            <p class="value">
                                <em>Up to <span>{{ box.value | currency: '$' }}</span> value</em>
                            </p>
                            <div class="description">
                                {{ '(' + box.description + ')' }}
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

    </div>
</div>