<div class="payment-settings">
	<h1>Payment Settings</h1>
	
	<create-btn ng-click="$ctrl.addCard()" text="Card"></create-btn>

    <!-- payment methods -->
    <table class="table table-striped">
        <thead>
            <th>Card Type</th>
            <th>Last 4 Digits</th>
            <th>Exp. Date</th>
            <th>Zip</th>
            <th>Name on Card</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
        <tr ng-repeat="card in $ctrl.cards">
            <td>{{ card.brand }}</td>
            <td>{{ card.last4 }}</td>
            <td>{{ card.exp_month + '/' + card.exp_year }}</td>
            <td>{{ card.address_zip }}
            <td>{{ card.name }}</td>
            <td>
                <grid-actions 
                    on-edit="$ctrl.editCard(card)"
                    on-delete="$ctrl.deleteCard(card)"
                >
                </grid-actions>
            </td>
        </tr>
    </table>
    <!-- /payment methods -->
</div>