<div class="module benefits">
    <div class="wrapper">
        <div class="span6">
            <img ng-src="{{ assetUrl + '/images/brandingPhotos/medium-box-fall2016.png' }}">
        </div>
        <div class="span6">
            <h2>Benefits</h2>
            <ol class="reset clear">
                <li>
                    <h3>Truly Personalized</h3>
                    <p>Every shipment is unique and we email you an online Order Preview that you can edit before we ship.</p>
                </li>
                <li>
                    <h3>Flexible</h3>
                    <p>Order on demand any time you need, or set up a schedule. No pressure and no subscription required.</p>
                </li>
                <li>
                    <h3>Perfect Fit Guarantee</h3>
                    <p>We will find you the optimal brands, sizes and fits for your unique body type.</p>
                </li>
            </ol>
        </div>
    </div>
</div>