<div class="order-details">
    <div class="order-info">
        <p><strong>Order #:</strong> <span ng-bind="$ctrl.order.orderNumber"></span></p>
        <p ng-show="$ctrl.order.trackingNumber">
        <strong>Tracking #:</strong> <a ng-href="http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums={{ $ctrl.order.trackingNumber }}" rel="external" target="_blank" ng-bind="$ctrl.order.trackingNumber"></a>
        </p>
    </div>

    <div ng-if="$ctrl.order.status === 'preview'">
        <order-next-steps-module></order-next-steps-module>
    </div>

    <div ng-if="$ctrl.order.status === 'finalized'" class="msg notify active">
        <h3>Remain calm and enjoy a cold beverage while we set you up with some new threads!</h3>
        <i class="fa fa-beer" aria-hidden="true"></i> 
        <p>You'll see an email from us shortly.  In the meantime, you can <a ui-sref="index.account.referrals">share ThreadLab</a> and earn store credit.</p>
    </div>
</div>

<div class="order">
    <!-- preview notes -->
    <div ng-if="$ctrl.order.status === 'preview' && $ctrl.order.previewNotes" class="msg notify active">
        <h4><i class="fa fa-exclamation-triangle"></i>Notes about your preview</h4>
        {{ $ctrl.order.previewNotes }}
    </div>
    <!-- /preview notes -->

    <!-- order matches -->
    <div class="section row-separator" ng-if="$ctrl.order.budget && $ctrl.order.status !== 'received' && $ctrl.order.status !== 'processing' && $ctrl.order.status !== 'finalized'">
        <div class="content">
            <order-matches data="$ctrl.order"></order-matches>
        </div>
    </div>
    <!-- /order matches -->

    <!-- order pricing -->
    <div class="section row-separator" ng-if="$ctrl.order.status !== 'received' && $ctrl.order.status !== 'processing'">
        <div class="content">
            <h3>Order Summary</h3>
            <order-pricing data="$ctrl.order"></order-pricing>
        </div>
    </div>
    <!-- /order pricing -->

    <!-- payment info -->
    <div class="section row-separator payment-options" ng-show="$ctrl.order.status === 'preview' && $ctrl.order.invoiceValue > 0">
        <div class="content">
            <h3>Payment Information</h3>
            <p><i class="fa fa-lock"></i> Rest easy. This is a secure SSL encrypted payment.</p>
            <credit-card-form></credit-card-form>
        </div>
    </div>
    <!-- /payment info -->

    <!-- shipping info -->
    <div class="section row-separator shipping-info" ng-show="$ctrl.order.status === 'preview' && $ctrl.paymentMethod === 'stripe'">
        <div class="content">
            <h3>Shipping Information</h3>
            <address-form></address-form>
        </div>
    </div>
    <!-- /shipping info -->

    <div class="section row-separator">
        <div class="content">

          <div class="row customer-comments" ng-if="$ctrl.order.status !== 'finalized'">
            <h3>Additional Feedback</h3>
            <p>Provide any additional detailed feedback about your $ctrl.order.</p>

            <div ng-show="$ctrl.order.status === 'preview'">
              <p ng-show="$ctrl.numRejects > 0">Don't forget to tell us why you rejected each item so that we can find better alternatives.</p>
            </div>

            <textarea rows="3" placeholder="Enter comments" id="customer-comments" ng-model="$ctrl.order.customerComments"></textarea>

            <div ng-if="$ctrl.order.status !== 'preview' && $ctrl.order.status !== 'shipped'" class="align-right">
              <button class="button button-large" ng-click="submitOrderFeedback($ctrl.order)" ng-class="{ loading: loading }" ng-disabled="loading">Submit Feedback</button>
            </div>
          </div>
          
          <div ng-if="$ctrl.order.status === 'preview'" class="note">
            <h4 class="hidden">Rejected Items</h4>
            <p><strong>Note:</strong> If you reject any items and then click ship, you'll be refunded the value of those items.</p>
          </div>

          <div class="order-additional" ng-show="$ctrl.order.status === 'preview'">

            <div class="control">

              <div class="row">
                <div class="span6 col-a">&nbsp;
                  <button class="button button-dark" ng-click="rejectOrderPreview($ctrl.order)" ng-class="{ 'loading': rejectLoading }" ng-disabled="rejectLoading" ng-show="$ctrl.numRejects > 0">Send me a new Order Preview</button>
                </div>
                <div class="span6 align-right col-b">
                  <div ng-show="$ctrl.paymentMethod === 'stripe'">
                    <button class="button button-large" ng-click="acceptOrderPreview(order, forms.paymentForm, forms.shippingForm)" ng-class="{ 'loading': loading }" ng-show="!allRejected" ng-disabled="allRejected">
                      <span ng-show="$ctrl.numRejects === 0">Looks good. Please ship!</span>
                      <span ng-show="$ctrl.numRejects > 0">Apply changes and ship!</span>
                    </button>
                  </div>

                  <!-- paypal -->
                  <div class="paypal submit">
                    <div ng-show="$ctrl.paymentMethod === 'paypal'">
                      <!--<div ng-include="'/templates/order/paypal-form.html.tmpl'"></div>-->
                      <paypal-form></paypal-form>
                    </div>
                  </div>
                  <!-- /paypal -->

                  <button class="button button-transparent button-cancel" ng-click="cancelOrder($ctrl.order)" ng-class="{ 'loading': cancelLoading }" ng-show="allRejected" ng-disabled="$ctrl.numRejects < numItems">Cancel Order</button>
                </div>
              </div>

            </div>
           
          </div>

          <div class="order-additional" ng-show="$ctrl.order.status === 'shipped'">
            <div class="align-right">
              <button class="button button-large" ng-click="completeOrder($ctrl.order);" ng-class="{ 'loading': loading }" ng-disabled="loading">Submit Your Order Feedback</button>
            </div>
            <div class="row">
              <p><strong>Returning something?</strong> Please place any returns in the ThreadLab box and use the return label that was included in your delivery. Please email <a href="mailto:service@mythreadlab.com">service@mythreadlab.com</a> with any questions.</p>
            </div>
          </div>

        </div>
    </div>
</div>