<div class="perfect-fit">
    <h1>PerfectFit<sup>&trade;</sup></h1>

    <p>PerfectFit<sup>&trade;</sup> is a fitting system that allows us to send you perfectly-fitting clothing by matching our products to items that you already own and love. You can add pre-measured items that you bought from us, or you can measure your own. Follow the step-by-step measurement guide to learn how.</p>

    <p>So, tell us about those cozy jeans or that sexy shirt and you'll be rewarded by clothing that fits you perfectly every time.</p>

    <div ng-repeat="category in $ctrl.productCategories" class="category">
        <h2>{{ category.name }}</h2>

        <create-btn ng-click="$ctrl.addReferenceItem(category)" text="PerfectFit Item"></create-btn>

        <!-- reference items -->
        <div ng-if="category.referenceItems.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="referenceItem in category.referenceItems">
                        <td>{{ referenceItem.name }}</td>
                        <td>{{ referenceItem.description }}</td>
                        <td>
                            <grid-actions 
                                on-edit="$ctrl.editReferenceItem(referenceItem)"
                                on-delete="$ctrl.deleteReferenceItem(referenceItem)"
                                delete-title="Delete PerfectFit Item"
                            >
                            </grid-actions>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /reference items -->
    </div>
</div>