<div class="module social-sharing">
    <div class="wrapper">
        <h2>Share ThreadLab with your friends</h2>
        <ul class="social-share-list">
            <li class="span3">
                <a href="#" title="Share ThreadLab on Facebook"
                  socialshare
                  socialshare-provider="facebook"
                  socialshare-text="{{ $ctrl.socialSharing.text }}"
                  socialshare-hashtags="{{ $ctrl.socialSharing.hashtags }}"
                  socialshare-url="{{ $ctrl.socialSharing.url }}">
                  <i class="fa fa-facebook"></i> <span>Facebook</span>
                </a>
            </li>
            <li class="span3">
                <a href="#" title="Tweet About ThreadLab"
                  socialshare
                  socialshare-provider="twitter"
                  socialshare-text="{{ $ctrl.socialSharing.text }}"
                  socialshare-hashtags="{{ $ctrl.socialSharing.hashtags }}"
                  socialshare-url="{{ $ctrl.socialSharing.url }}">
                  <i class="fa fa-twitter"></i> <span>Twitter</span>
                </a>
            </li>
            <li class="span3">
                <a href="#" title="Share ThreadLab on Google+"
                  socialshare
                  socialshare-provider="google"
                  socialshare-text="{{ $ctrl.socialSharing.text }}"
                  socialshare-hashtags="{{ $ctrl.socialSharing.hashtags }}"
                  socialshare-url="{{ $ctrl.socialSharing.url }}">
                  <i class="fa fa-google-plus"></i> <span>Google +</span>
                </a>
            </li>
            <li class="span3">
                <a href="#" title="Share ThreadLab on LinkedIn"
                  socialshare
                  socialshare-provider="linkedin"
                  socialshare-text="{{ $ctrl.socialSharing.text }}"
                  socialshare-hashtags="{{ $ctrl.socialSharing.hashtags }}"
                  socialshare-url="{{ $ctrl.socialSharing.url }}">
                  <i class="fa fa-linkedin"></i> <span>LinkedIn</span>
                </a>
            </li>
        </ul>
    </div>
</div>
