<div class="payment">
  <div class="stripe">
    <span>Payments by</span><a href="https://stripe.com/" rel="external" target="_blank"><i class="fa fa-cc-stripe"></i></a> <a href="https://paypal.com/" rel="external" target="_blank" ng-if="PAYPAL.enabled"><i class="fa fa-cc-paypal"></i></a>
  </div>
  <div class="cards">
    <ul class="card-logos">
      <li class="visa"><i class="fa fa-cc-visa"></i></li>
      <li class="mastercard"><i class="fa fa-cc-mastercard"></i></li>
      <li class="amex"><i class="fa fa-cc-amex"></i></li>
      <li class="discover"><i class="fa fa-cc-discover"></i></li>
    </ul>
  </div>
</div>