<div class="row">
  <div class="form-group span6">
    <label>First Name</label>
    <input type="text" name="firstName" ng-model="$ctrl.data.firstName" ng-required="true" class="form-control">
  </div>
  <div class="form-group span6">
    <label>Last Name</label>
    <input type="text" name="lastName" ng-model="$ctrl.data.lastName" ng-required="true" class="form-control">
  </div>
</div>

<div class="row">
  <div class="form-group span3">
    <label>Height</label>
    <select name="statedHeight" ng-model="$ctrl.data.statedHeight" ng-required="true" class="form-control state">
      <option value="">Pick a Height</option>
      <option ng-repeat="height in heights" value="{{ height.value }}">{{ height.value }}</option>
    </select>
  </div>

  <div class="form-group span3">
    <label>Weight</label>
    <input type="number" name="statedWeight" ng-model="$ctrl.data.statedWeight" ng-required="true" pattern="[0-9]*" inputmode="numeric" class="form-control">
  </div>

  <div class="form-group span3">
    <label>Birthday</label>
    <div class="input-group">
     <input type="text" class="form-control" uib-datepicker-popup="{{ $ctrl.datePopupFormat }}" ng-model="$ctrl.data.dateOfBirth" is-open="$ctrl.datePickerPopup.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="$ctrl.dateInputFormats" />
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="$ctrl.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
  </div>
  <div class="form-group span3">
    <label>Phone Number</label>
    <input type="tel" name="phone" ng-model="$ctrl.data.phone" ui-mask="(999) 999-9999" ng-required="true" class="form-control">
  </div>
</div>

<div class="row">
  <div class="form-group span6">
    <label>Email Address/Sign in Name*</label>
    <input ng-model="$ctrl.data.email" disabled type="text" class="form-control">

    <p><small><a  id="myaccount-changepassword00">Click here</a> to change your password</small></p>
  </div>
</div>

<div class="note">
  <p><small>*Used for signing in to site and for confirmation emails and to inform you of products, programs, services and promotions you might like. To opt-out of promotional emails, click the unsubscribe link in the footer of any marketing email.</small></p>
</div>