<div class="info-steps">
  <h4>Next Steps</h4>
  <ol>
    <li class="span3 step1">
      <div class="step">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Provide feedback on any items
      </div>
    </li>
    <li class="span1">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </li>
    <li class="span3 step2">
      <div class="step">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
        Reject any items you don't need
      </div>  
    </li>
    <li class="span1">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </li>
    <li class="span3 step3">
      <div class="step">
        <i class="fa fa-truck" aria-hidden="true"></i>
        Review your order and click 'Ship'
      </div>
      <div class="or">or</div>
      <div class="step">
        <div class="preview">
          <i class="fa fa-file" aria-hidden="true"></i>
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        Request a new Order Preview
      </div>
    </li>
  </ol>
</div>