<div class="grid-actions">
	<button ng-click="$ctrl.onRead()" class="btn btn-primary btn-read" title="Show">
		<i class="fa fa-eye"></i>
	</button>

	<button ng-click="$ctrl.onEdit()" class="btn btn-primary btn-edit" title="Edit">
		<i class="fa fa-pencil"></i>
	</button>

	<button 
		class="btn btn-primary btn-delete" 
		title="Delete" 
		confirm-before-action-title="$ctrl.deleteTitle"
		confirm-before-action-text="$ctrl.deleteText"
		confirm-before-action
		confirm-before-action-handler="$ctrl.onDelete()"
	>
		<i class="fa fa-trash"></i>
	</button>
</div>