<div class="row">
  <div class="form-group span6">
    <label>First Name</label>
    <input type="text" name="firstName" ng-model="$ctrl.formData.firstName" required="true" class="form-control">
  </div>
  <div class="form-group span6">
    <label>Last Name</label>
    <input type="text" name="lastName" ng-model="$ctrl.formData.lastName" required="true" class="form-control">
  </div>
</div>

<div class="row">
  <div class="form-group span3">
    <label>Height</label>
    <heights-field value="$ctrl.formData.statedHeight"></heights-field>
  </div>

  <div class="form-group span3">
    <label>Weight</label>
    <input type="number" name="statedWeight" ng-model="$ctrl.formData.statedWeight" required="true" pattern="[0-9]*" inputmode="numeric" class="form-control">
  </div>

  <div class="form-group span3">
    <label>Birthday</label>
    <div class="input-group">
     <input type="text" class="form-control" uib-datepicker-popup="{{ $ctrl.datePopupFormat }}" ng-model="$ctrl.formData.dateOfBirth" is-open="$ctrl.datePickerPopup.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="$ctrl.dateInputFormats" />
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="$ctrl.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
  </div>
  <div class="form-group span3">
    <label>Phone Number</label>
    <input type="tel" name="phone" ng-model="$ctrl.formData.phone" ui-mask="(999) 999-9999" required="true" class="form-control">
  </div>
</div>

<div class="row">
  <div class="form-group span6">
    <label>Email Address/Sign in Name*</label>
    <input ng-model="$ctrl.formData.email" disabled type="text" class="form-control">

    <p><small><a id="myaccount-changepassword00" ng-click="$ctrl.resetPassword()">Click here</a> to change your password</small></p>
  </div>
</div>

<div class="submit">
  <button type="submit" ng-disabled="!$ctrl.isRequiredFieldsValid()" class="button button-submit" id="myaccount-savechanges00" ng-click="$ctrl.submit()">Save Changes</button>
</div>

<div class="note">
  <p><small>*Used for signing in to site and for confirmation emails and to inform you of products, programs, services and promotions you might like. To opt-out of promotional emails, click the unsubscribe link in the footer of any marketing email.</small></p>
</div>