<div ng-repeat="match in $ctrl.order.matches" class="category" ng-class="{ 'empty': (!match.orderItems.length) || match.isEmpty }">
    <h2 class="category-title">{{ match.category }}</h2>

    <div ng-if="!match.orderItems.length" class="order-item empty">
        <div class="row">
            <p>We're sorry, but we couldn't find any matching items within this category.</p>
        </div>
    </div>

    <!-- order items -->
    <div ng-if="match.orderItems.length">
        <div ng-repeat="orderItem in match.orderItems"
             class="order-item"
             ng-class="{ 'reject': orderItem.rejected, 'return': orderItem.returned || orderItem.markedForReturn, 'virtual': orderItem.isVirtual }"

        >
            <div class="row">
              <div class="span2 photo" ng-click="$ctrl.viewImage(orderItem)">
                <img ng-src="{{ orderItem.product.imageUrl }}">
                <div class="zoom">
                  Click to Zoom <i class="fa fa-search-plus"></i>
                </div>
              </div>
              <div class="span10 details">
                <h3><span class="brand">{{ orderItem.product.xBrand }}</span> - <span class="name">{{ orderItem.product.name }}</span></h3>

                <div class="product-info">
                  <div class="product-specs">
                    <p class="threadlab-price">
                      <img ng-src="{{ assetUrl + '/images/logo/threadlab.png' }}">
                      <strong>Price:</strong> <span ng-bind="orderItem.price | currency: '$'"></span>
                    </p>

                    <p class="size" ng-show="match.category !== 'Dress Socks' && match.category !== 'Athletic Socks'"><strong>Size:</strong> <span ng-bind="orderItem.product.statedSize"></span></p>
                    <p class="color"><strong>Color:</strong> <span ng-bind="orderItem.product.statedColor"></span></p>

                    <p class="description" ng-if="$ctrl.order.status !== 'shipped'"><strong>Description:</strong> <span ng-bind="orderItem.product.description"></span></p>

                    <div class="feedback">
                      <div ng-if="$ctrl.order.status === 'preview'">
                        <p><strong>Additional Feedback:</strong></p>

                        <textarea rows="3" placeholder="Enter any feedback about this item so that we can update your profile and improve future shipments" ng-keyup="$ctrl.updateOrderItem(orderItem)" ng-model="orderItem.feedback"></textarea>
                      </div>
                      <div ng-if="$ctrl.order.status !== 'finalized' && $ctrl.order.status !== 'preview'">
                        <p><strong>Your Feedback:</strong></p>

                        <div class="msg active notify">
                          <p><span ng-bind="orderItem.comments"></span></p>
                        </div>
                      </div> 
                    </div>

                  </div>

                  
                  <div class="toggle-reject" ng-if="$ctrl.order.status === 'preview'">
                    <div class="clear">
                      <div class="span4">

                        <div class="undo cancel " ng-show="orderItem.rejected">
                          <button class="button button-dark" ng-click="$ctrl.undoRejectOrderItem(orderItem)"> Undo Reject<i class="fa fa-undo" title="Undo Reject"></i></button>
                        </div>
                        
                      </div>
                    </div>
                  </div> 

                  <div class="toggle-return" ng-if="$ctrl.order.status === 'shipped'">
                    <div class="clear">
                      <div class="span4">
                        <h5>Reasons for return</h5>

                        <div class="return-reasons">
                          <div ng-repeat="(val, title) in $ctrl.returnReasons" class="field opt">
                            <label>
                              <input type="checkbox" name="return-reason" class="return-reason" value="{{ val }}" ng-checked="orderItem.returnedReasons[val].selected" ng-click="$ctrl.returntOrderItem(orderItem, $event)">
                              <span>{{ title.text }}</span>
                            </label>
                          </div>
                        <!--
                          <div class="field opt">
                            <label>
                              <input type="checkbox" name="exchange" value="exchange" class="exchange" ng-checked="orderItem.exchangeRequested" ng-disabled="orderItem.returned">
                              <span><strong>Exchange</strong></span>
                            </label>
                          </div>


                          <div ng-repeat="returnReason in orderItem.returnReasonsFormatted" class="field opt">
                            <label>
                              <input type="checkbox" name="return-reason" value="{{ returnReason.value }}" class="return-reason" ng-checked="returnReason.selected" ng-disabled="orderItem.returned">
                              

                              <span>{{ title.text }}</span>
                            </label>
                          </div>-->

                        </div>
                      </div>
                      <div class="span8">
                        <h5>Additional comments</h5>
                        <p>Tell us your thoughts or the size you need.</p>
                        <div class="comments">
                          <textarea rows="3" placeholder="Enter comments" ng-model="orderItem.comments" ng-disabled="orderItem.returned"></textarea>
                        </div>
                        <div class="return-instructions">
                          <p>
                            After selecting and giving feedback for all items you are returning, please use the button at the bottom of this page to save your responses. Thanks.
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="undo cancel" ng-show="!orderItem.returned && orderItem.markedForReturn">
                      <button class="button button-dark" ng-click="$ctrl.undoReturnOrderItem(orderItem)"> Undo Return / Exchange<i class="fa fa-undo" title="Undo Return / Exchange"></i></button>
                    </div>
                  </div>
                </div>

                <button class="button button-dark button-reject" ng-click="$ctrl.rejectOrderItem(orderItem)" ng-if="$ctrl.order.status === 'preview'">Reject Item <i class="fa fa-times-circle"></i></button>

                <button class="button button-dark button-return" ng-click="$ctrl.returnOrderItem(orderItem)" ng-if="$ctrl.order.status === 'shipped' && !orderItem.rejected">Return / Exchange Item <i class="fa fa-exchange"></i></button>
              </div>

            </div>

            <div ng-if="orderItem.rejected" class="ribbon">Rejected</div>

            <div ng-if="orderItem.returned || orderItem.markedForReturn" class="ribbon">Returned</div>

            <div ng-if="orderItem.isVirtual && !orderItem.rejected && !orderItem.returned && !orderItem.markedForReturn" class="ribbon alt">Item Ships Separately</div>
        </div>
    </div>
    <!-- /order items -->
</div>