<div class="social">
  <div>
    <ul>
      <li><a target="_blank" href="https://www.facebook.com/mythreadlab" id="social-fb01" rel="external" title="Like ThreadLab on Facebook"><i class="fa fa-facebook"></i><span>Like ThreadLab on Facebook</span></a></li>
      <li><a target="_blank" href="https://twitter.com/mythreadlab" rel="external" title="Follow ThreadLab on Twitter" id="social-twitter01"><i class="fa fa-twitter"></i><span>Follow ThreadLab on Twitter</span></a></li>
      <li><a target="_blank" href="http://www.pinterest.com/mythreadlab" rel="external" title="Visit ThreadLab on Pinterest" id="social-pinterest01"><i class="fa fa-pinterest"></i><span>Visit ThreadlLab on Pinterest</span></a></li>
      <li><a target="_blank" href="http://instagram.com/mythreadlab" rel="external" title="Follow ThreadLab on Instagram" id="social-instagram01"><i class="fa fa-instagram"></i><span>Follow ThreadlLab on Instagram</span></a></li>
    </ul>
  </div>
</div>