<div class="module pricing">
    <div class="wrapper">
        <div class="span6">
            <h2>Pricing</h2>
            <ol class="reset clear">
                <li>
                    <h3>365 Free Shipping &amp; Returns</h3>
                    <p>We cover the shipping both ways and allow up to 365 days to return products.</p>
                </li>
                <li>
                    <h3>Affordable</h3>
                    <p>We offer up to 50% off MSRP across 50 + brands. Affordable convenience is our mission.</p>
                </li>
                <li>
                    <h3>No Minimums</h3>
                    <p>ThreadLab charges no styling fee and there is no minimum spend required. Return any items for a full refund with zero risk and no hassle.</p>
                </li>
            </ol>
        </div>
        <div class="span6">
            <img ng-src="{{ assetUrl }}/images/brandingPhotos/ingridkstudio-6103.png">
        </div>
    </div>
</div>