<div class="boxes">

  <div class="box-list">

    <h1>Which Box Are You?</h1>

    <div class="box-photo">
      <div class="wrapper">
        <ul class="reset clear">
          <li ng-repeat="box in $ctrl.boxes.list" class="span4">
            <a href="#" ng-click="placeOrder(box)"><img ng-src="{{ assetUrl + box.imagePathAlt }}"></a>

            <div class="box-info mobile">
              <box-info data="box"></box-info>
              <box-description data="box"></box-description>
              <a ui-sref="boxes.box({ type: box.slug })">Learn More</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="box-info bottom">
      <div class="wrapper">
        <ul class="reset clear">
          <li ng-repeat="box in $ctrl.boxes.list" class="span4">
            <box-info data="box"></box-info>
            <div class="box-content">
              <box-description data="box"></box-description>
            </div>
            <a ui-sref="boxes.box({ type: box.slug })">Learn More</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
