<div class="step">
	<div class="current"><strong>{{ $ctrl.section }}</strong> {{ $ctrl.pagingText }}</div>

	<div class="step-pref">
		<h2>{{ $ctrl.headline }}</h2>
		<p>{{ $ctrl.text }}</p>
		<div class="buttons {{ $ctrl.buttonClass }}">
			<checkbox-list ng-if="!$ctrl.submitBtnText" data="$ctrl.data" label-field="value" limit="{{ $ctrl.limit }}" type="{{ $ctrl.type }}" ng-click="$ctrl.onSelect()"></checkbox-list>

			<checkbox-list ng-if="$ctrl.submitBtnText" data="$ctrl.data" label-field="value" limit="{{ $ctrl.limit }}" type="{{ $ctrl.type }}"></checkbox-list>
		</div>
	</div>

	<div ng-if="$ctrl.submitBtnText">
		<button class="button button-dark" ng-click="$ctrl.onSelect()" ng-disabled="$ctrl.disabledHandler()">{{ $ctrl.submitBtnText }}</button>
	</div>
</div>