<div class="info-steps">
  <h4>How it Works</h4>
  <ol>
    <li class="span3 step1">
      <div class="step">
        <div class="preview">
          <i class="fa fa-file" aria-hidden="true"></i>
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        We'll create your Order Preview
      </div>
    </li>
    <li class="span1">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </li>
    <li class="span3 step2">
      <div class="step">
        <i class="fa fa-credit-card" aria-hidden="true"></i>
        Bill your credit card on file
      </div>  
    </li>
    <li class="span1">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </li>
    <li class="span3 step3">
      <div class="step">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        Send you an email alert on your schedule
      </div>  
    </li>
  </ol>
</div>