<div class="subscriptions">
    <h1>Subscriptions</h1>

    <p>If you're looking for ultimate convenience, try out a ThreadLab Subscription. You control how often you'd like us to create an Order Preview throughout the year. Select your budget, frequency and any notes about the product categories or styles you'd like to see.  Simply login to edit your Order Preview and then click "Ship" to confirm it.</p>

    <p>Feel free to cancel or pause your subscription at any time. We offer free two way shipping and 365 returns/exchanges on each Order. This is the easiest way to keep your wardrobe fresh year round. </p>

    <subscriptions-how-it-works-module></subscriptions-how-it-works-module>

    <!-- add new address -->
    <div ng-if="!$ctrl.hasAddress">
        <div class="form add-address-form">
          <h2>Shipping Address Required</h2>
          <p>To be eligible for this program you'll need a shipping address on file.</p>

          <p><a ui-sref="index.account.addressSettings">Add a shipping address now <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
        </div>
    </div>
    <!-- /add new address -->

    <!-- add new credit card -->
    <div ng-if="!$ctrl.hasPaymentMethod">
        <div class="form add-card-form">
          <h2>Payment Method Required</h2>
          <p>To be eligible for this program you'll need a valid credit card on file and you'll be billed when your Order Preview is ready.</p>

          <p><a ui-sref="index.account.paymentMethods">Add a payment method now <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
        </div>
    </div>
    <!-- /add new credit card -->

    <!-- subscriptions -->
    
    <div ng-if="$ctrl.hasAddress && $ctrl.hasPaymentMethod">
      <create-btn ng-click="$ctrl.addSubscription()" text="Subscription"></create-btn>

      <div ng-if="$ctrl.customer.subscriptions.length > 0">
        <table class="table table-striped">
            <thead>
              <tr>
                  <th>Budget</th>
                  <th>Frequency</th>
                  <th>Start Date</th>
                  <th>Status</th>
                  <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="subscription in $ctrl.customer.subscriptions">
                  <td>{{ subscription.budget | currency: '$' }}</td>
                  <td>{{ subscription.frequency }}</td>
                  <td>{{ subscription.startDate | date }}</td>
                  <td>{{ subscription.status }}</td>
                  <td>
                      <grid-actions 
                          on-edit="$ctrl.editSubscription(subscription)"
                      >
                      </grid-actions>
                  </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
    <!-- /subscriptions -->
</div>