<div class="subscriptions">
    <h1>Subscriptions</h1>

    <p>If you're looking for ultimate convenience, try out a ThreadLab Subscription. You control how often you'd like us to create an Order Preview throughout the year. Select your budget, frequency and any notes about the product categories or styles you'd like to see.  Simply login to edit your Order Preview and then click "Ship" to confirm it.</p>

    <p>Feel free to cancel or pause your subscription at any time. We offer free two way shipping and 365 returns/exchanges on each Order. This is the easiest way to keep your wardrobe fresh year round. </p>

    <subscriptions-how-it-works-module></subscriptions-how-it-works-module>

    <!-- add new address -->
    <div ng-if="$ctrl.showAddressForm">
        <div class="form add-address-form">
          <h2>Shipping Address Required</h2>
          <p>Enter a shipping address where you want your orders delivered.</p>

          <!-- add new address -->
          <form method="post" novalidate name="addAddressForm" ng-submit="$ctrl.submitNewAddress(addAddressForm)">
            
            <address-form></address-form>

            <!--<div ng-show="isAPOAddress && address.type === 'shipping'" ng-include="'/templates/partials/msg-apo-address.html.tmpl'"></div>-->

            <div class="actions">
              <button type="submit" class="button button-submit" ng-disabled="addAddressForm.$invalid" ng-class="{ 'loading': loading }" id="myaccount-subscriptions-submitnew00">Add Address</button>
            </div>
          </form>
          <!-- /add new address -->
        </div>
    </div>
    <!-- /add new address -->

    <!-- add new credit card -->
    <div ng-if="$ctrl.showCreditCardForm">
        <div class="form add-card-form">
          <h2>Credit Card Required</h2>
          <p>To be eligible for this program, you'll need a valid credit card on file and you'll be billed when your Order Preview is ready.</p>

          <form method="post" novalidate name="addPaymentForm" ng-submit="submitNewCard();">
            <payment-form></payment-form>

            <div class="actions">
              <button type="submit" class="button button-submit" ng-disabled="addForm.$invalid" ng-class="{ 'loading': loading }" id="myaccount-payment-submitnew00">Add Card</button>
            </div>
          </form>
        </div>
    </div>
    <!-- /add new credit card -->

    <!-- subscriptions -->

    <div ng-if="!$ctrl.showAddressForm && !$ctrl.showCreditCardForm"">
      <create-btn ng-click="$ctrl.addSubscription()" text="Subscription"></create-btn>
      <table class="table table-striped">
          <thead>
              <th>Budget</th>
              <th>Frequency</th>
              <th>Start Date</th>
              <th>Status</th>
              <th>&nbsp;</th>
          </thead>
          <tbody>
            <tr ng-repeat="subscription in $ctrl.customer.subscriptions">
                <td>{{ subscription.budget | currency: '$' }}</td>
                <td>{{ subscription.frequency }}</td>
                <td>{{ subscription.startDate | date }}</td>
                <td>{{ subscription.status }}</td>
                <td>
                    <grid-actions 
                        on-edit="$ctrl.editSubscription(subscription)"
                    >
                    </grid-actions>
                </td>
            </tr>
          </tbody>
      </table>
    </tbody>
    <!-- /subscriptions -->
</div>