<div class="module news-pr">
    <div class="wrapper">
        <h2>As seen at these great places&hellip;</h2>
        <div class="logos">
            <ul class="reset clear">
                <li class="span4"><img class="" ng-src="{{ assetUrl + '/images/news-pr/beautybox.png' }}" alt="beautybox logo"></li>
                <li class="span4"><img class="" ng-src="{{ assetUrl + '/images/news-pr/dapperanddone.png' }}" alt="dapper &amp; logo"></li>
                <li class="span4"><img class="" ng-src="{{ assetUrl + '/images/news-pr/targetingmantra.png' }}" alt="targeting mantra logo"></li>
            </ul>
            <ul class="clear">
                <li class="span4"><img class="" ng-src="{{ assetUrl + '/images/news-pr/today.png' }}" alt="today logo"></li>
                <li class="span4"><img class="" ng-src="{{ assetUrl + '/images/news-pr/vegastech.png' }}" alt="vegastech logo"></li>
                <li class="span4"><img class="" ng-src="{{ assetUrl + '/images/news-pr/yelp.png' }}" alt="yelp logo"></li>
            </ul>
        </div>
    </div>
</div>