<div class="module steps">
  <div class="wrapper">
    <h2>How it Works</h2>
    <ol class="reset clear">
      <li class="one span4">
        <h3>Get Started Easily</h3>
        <p>Tell us your sizes, style preferences and budget. To place an order, select a box size and the kind of clothes you're looking for.</p>
      </li>
      <li class="two span4">
        <h3>See a Preview</h3>
        <p>Get a handpicked selection of items, personalized to fit you and your budget. <em>Plus, you can preview and edit your order before we ship it</em>.</p>
      </li>
      <li class="three span4">
        <h3>Relax and Enjoy</h3>
        <p>Your clothes come to you. <em>No malls, no endless searches, no hassles.</em> Plus, you're covered with <span ng-bind="ORDER_MAX_DAYS_TO_RETURN.numeric"></span> Days to Return and Free Shipping both ways.</p>
      </li>
    </ol>
  </div>
</div>
