<div class="module testimonials">
    <div class="wrapper">
        <h2>Saving guys like these from the dreaded mall</h2>
        <ul class="reset clear">
            <li class="span4 clear">
                <img ng-src="{{ assetUrl + '/images/testimonials/bryan_roeser.jpg' }}">
                <div class="content">
                    <p>&ldquo;My experience using ThreadLab has been nothing but a positive experience.  This service is great what more can I say?  <br>What better way to stay out of a mall.&rdquo;</p>
                    <div class="author">Bryan Roeser</div>
                    <div class="title">Aquaculturist/Biosystems Manager <br><a href="http://www.gardenfreshfarms.com" rel="external" target="_blank">Garden Fresh Farms</a></div>
                </div>
            </li>
            <li class="span4 clear">
                <img ng-src="{{ assetUrl + '/images/testimonials/alan_belniak.jpg' }}">
                <div class="content">
                    <p>&ldquo;Awesome service, super-responsive staff, good selection. <br>The convenience is a HUGE plus.&rdquo;</p>
                    <div class="author">Alan Belniak</div>
                    <div class="title">Community Evangelist <br><a href="http://alignable.com" rel="external" target="_blank">Alignable.com</a></div>
                </div>
            </li>
            <li class="span4 clear">
                <img ng-src="{{ assetUrl + '/images/testimonials/neal_hoffman.jpg' }}">
                <div class="content">
                    <p>&ldquo;Really happy with my experience!  Much better than going out with the wife shopping&hellip;kept most of the things, sent a couple back with no problem.  <br>I will use again!&rdquo;</p>
                    <div class="author">Neal Hoffman</div>
                    <div class="title">Founder &amp; Chief Executive Mensch <br><a href="http://themenschonabench.com" rel="external" target="_blank">Mensch on a Bench</a></div>
                </div>
            </li>
        </ul>
    </div>
</div>