<div class="module easy">
	<div class="wrapper">
		<div class="clear">
			<div class="span3">
				<div class="module-img">
					<img ng-src="{{ assetUrl + '/images/brandingPhotos/ingridkstudio-6134.png' }}" alt="Clothing items available from ThreadLab">
				</div>
			</div>
			<div class="span9">
				<h2>Easy &amp; affordable</h2>
				<p>ThreadLab's unique technology makes personal shopping for men more than just easy, it makes it <em>low-cost</em>.</p>
				<p>There are no minimums, no long-term commitments, shipping is free, and you're in control.</p>
			</div>
		</div>
	</div>
</div>